@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}


.divTextosDoisLados {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

h3, p {
  margin: 10px;
}

.pDosInputs {
  margin: 0;
  right: 0;
}

form label {
  cursor: pointer;
}

input:hover {
  background-color: rgba(187, 187, 187, 0.849);
}

#resultadoDoUsuario {
  border: solid 2px black;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

form input:hover {
  font-size: 30px;
}